<html>
  <head>
    <title>GoChat</title>
    <style>
      input { display: block; }
      ul { list-style: none; }
    </style>
  </head>
  <body>
    <ul id="messages">
    </ul>
    <form id="chatbox" onkeypress="isEnter(event);">
      {{.UserData.name}}:<br />
      <textarea></textarea>
      <input type="submit" value="Send" />
    </form>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
    function isEnter(e) {
      if (e && e.preventDefault) {
        var c = e.keyCode || e.which;
        var msgBox = $('#chatbox textarea');

        if (c === 13) {
          e.preventDefault();
          return msgBox.val() ? $('#chatbox').submit() : null;
        }
      }
    }

    $(function() {
      var socket = null;
      var msgBox = $('#chatbox textarea');
      var messages = $('#messages');
      // Chat box submission handler
      $('#chatbox').submit(function(){
        if (!msgBox.val()) {
          return false;
        }
        socket.send(JSON.stringify(
          {
            "Body": msgBox.val()
          })
        );
        msgBox.val("");
        return false;
      })
      // Websocket support handler
      if (!window["WebSocket"]) {
        alert("Error: Your browser does not support web sockets")
      } else {
        socket = new WebSocket("ws://{{.Host}}/room");
        socket.onclose = function() {
          alert("Connection has been closed");
        }
        socket.onmessage = function(e) {
          var msg = JSON.parse(e.data);

          messages.append(
            $("<li>").append(
              $('<strong>').text(msg.Sender + ": "),
              $('<span>').text(msg.Body)
            )
          )
        }
      }
    });
    </script>
  </body>
</html>